#ignore temporary files
*.gch
*.swp
*.o
#ignore binary and output files
source/p2p_msg_client
source/pthread_warm_up
source/sdn_controller
source/pthreads_with_logging
source/test.txt
source/graph_test
source/switch_*.txt
source/controller.txt
source/switch_sdn
